---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { SEO } from "astro-seo";
import Whatsapp from "../components/WhatsAppButton.tsx";
import "../styles/base.css";
import ScrollProgress from "../components/ScrollProgress.astro";
import { GoogleAnalytics } from "astro-google-analytics";

export interface Props {
  title: string;
  description: string;
  travelplatformuae?: object;
  ogUrl?: string;
}

const { title, description, travelplatformuae, ogUrl } = Astro.props;

// Default values for SEO
const defaultTitle = "Best Travel Agency in Dubai | Travel Platform UAE";
const defaultDescription =
  "Nestled in the lively city of Dubai, Travel Platform stands out as one of the premier travel and tourism companies in the area, dedicated to crafting seamless and exceptional travel experiences that cater to our clients' unique needs. Our reputation as a reliable name in Dubai's tourism scene is built on our unwavering customer support and the passion of our dedicated team, making us a top choice for both vacationers and business travelers. Proudly ranked among the top 10 travel agencies in Dubai, we focus on delivering personalized services, from exciting excursions with local tour operators to luxurious, curated experiences that ensure every journey is truly unforgettable. With a host of accolades and a steadfast commitment to excellence, Travel Platform remains the leading tour company in Dubai, continually raising the bar for travel services and customer satisfaction.";
const ogImageUrl = "https://travelplatformuae.com/logo.png";
const canonicalURL = ogUrl
  ? new URL(ogUrl, Astro.site)
  : new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description ?? defaultDescription} />
    <meta name="author" content="Travel Platform UAE" />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content={title ?? defaultTitle} />
    <meta
      property="og:description"
      content={description ?? defaultDescription}
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={ogImageUrl} />
    <meta property="og:image:alt" content="Travel Platform Logo" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@TravelPlatformUAE" />
    <meta
      name="twitter:title"
      content={title ?? defaultTitle}
    />
    <meta
      name="twitter:description"
      content={description ?? defaultDescription}
    />
    <meta name="twitter:image" content={ogImageUrl} />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <meta name="robots" content="index, follow" />

    <!-- Structured Data (Schema Markup) -->
    <GoogleAnalytics id="G-RGM99TGREL" />
    {
      travelplatformuae && (
        <script
          is:inline
          type="application/ld+json"
          set:html={JSON.stringify(travelplatformuae)}
        />
      )
    }

    <!-- SEO Component -->
    <SEO
      title={title ?? defaultTitle}
      description={description ?? defaultDescription}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          title: title ?? defaultTitle,
          type: "website",
          image: ogImageUrl,
          url: canonicalURL.toString(),
        },
        optional: {
          description:
            description ??
            defaultDescription,
          siteName: "Travel Platform UAE",
          locale: "en_US",
        },
      }}
      twitter={{
        card: "summary_large_image",
        creator: "@TravelPlatformUAE",
        site: "Travel Platform UAE",
        title: title ?? defaultTitle,
        image: "https://travelplatformuae.com/logo.png",
        imageAlt: "Travel Platform UAE",
        description: description ?? defaultDescription,
      }}
      extend={{
        meta: [
          {
            name: "keywords",
            content:
              "Travel Platform UAE, Best Travel Agency in Dubai, Dubai travel agency, best tour operators in Dubai, luxury travel Dubai, budget travel UAE, international tours, domestic travel packages, flights and hotels, holiday deals, adventure tours, sightseeing Dubai, travel guides, tourism companies in Dubai",
          },
          { name: "robots", content: "index, follow" },
          { name: "language", content: "English" },
          { name: "Author", content: "Travel Platform UAE" },
        ],
      }}
    />
  </head>
  <body>
    <Navbar />
    <Whatsapp client:only="react" />
    <main>
      <slot />
    </main>
    <ScrollProgress />
    <Footer />
  </body>
</html>
